[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair = "==4.1.0"
appnope = "==0.1.2"
argon2-cffi = "==20.1.0"
astor = "==0.8.1"
attrs = "==21.2.0"
backcall = "==0.2.0"
base58 = "==2.1.0"
bleach = "==3.3.1"
blinker = "==1.4"
bubbletea = {subdirectory = "lib", editable = true, ref = "e5dcb6590f96d3e6a2b4b8805407260359b61d2d", git = "ssh://****@github.com/scout-cool/BubbleTea.git"}
cachetools = "==4.2.2"
certifi = "==2021.5.30"
cffi = "==1.14.6"
charset-normalizer = "==2.0.3"
click = "==7.1.2"
debugpy = "==1.4.1"
decorator = "==5.0.9"
defusedxml = "==0.7.1"
entrypoints = "==0.3"
gitdb = "==4.0.7"
graphql-core = "==3.1.5"
idna = "==3.2"
ipykernel = "==6.0.3"
ipython = "==7.25.0"
ipywidgets = "==7.6.3"
jedi = "==0.18.0"
jsonschema = "==3.2.0"
jupyter-client = "==6.1.12"
jupyter-core = "==4.7.1"
jupyterlab-pygments = "==0.1.2"
jupyterlab-widgets = "==1.0.0"
matplotlib-inline = "==0.1.2"
mistune = "==0.8.4"
nbclient = "==0.5.3"
nbconvert = "==6.1.0"
nbformat = "==5.1.3"
nest-asyncio = "==1.5.1"
notebook = "==6.4.0"
numpy = "==1.21.1"
pandas = "==1.3.1"
pandocfilters = "==1.4.3"
parso = "==0.8.2"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
prometheus-client = "==0.11.0"
prompt-toolkit = "==3.0.19"
protobuf = "==3.17.3"
ptyprocess = "==0.7.0"
pycparser = "==2.20"
pydeck = "==0.6.2"
pyparsing = "==2.4.7"
pyrsistent = "==0.18.0"
python-dateutil = "==2.8.2"
python-dotenv = "==0.18.0"
pytz = "==2021.1"
pyzmq = "==22.1.0"
requests = "==2.26.0"
six = "==1.16.0"
smmap = "==4.0.0"
st-flashcard = "==0.0.4"
streamlit = "==0.82.0"
terminado = "==0.10.1"
testpath = "==0.5.0"
toml = "==0.10.2"
toolz = "==0.11.1"
tornado = "==6.1"
traitlets = "==5.0.5"
tzlocal = "==2.1"
urllib3 = "==1.26.6"
validators = "==0.18.2"
wcwidth = "==0.2.5"
webencodings = "==0.5.1"
widgetsnbextension = "==3.5.1"
async_generator = "==1.10"
GitPython = "==3.1.18"
ipython_genutils = "==0.2.0"
Jinja2 = "==3.0.1"
MarkupSafe = "==2.0.1"
Pillow = "==8.3.1"
Pygments = "==2.9.0"
Send2Trash = "==1.7.1"

[dev-packages]

[requires]
python_version = "3.9"
